/* .search{
    height:'20px'
    
}
.search{
    border: 40px solid #b5776a;
    position:'relative';
    width:auto
} */
.search-container{
    background-color:  #b5776a;
    height:100px;
    width:600px;
}
.search{
margin-left: 13px;
}
